<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		<meta name="viewport" content="width=device-width, initial-scale=1">
		title Capsul
		link(rel="stylesheet", href="css/main.css")
	body

		header
			.top-line
				.container
					.row
						.col
							span.logo Your logo
							nav.top-nav
								ul
									li
										a(href="#") Home
									li
										a(href="#") About
									li
										a(href="#") Contact
									li
										button Get started
			.header-flex
				.container
					.row
						.col-12
							span.greet new company name
						br
						.col-8.sub-greet
							span Lorem ipsum dolor sit amet, consectetur 		adipisicing elit. Assumenda, consectetur.
		section.adv-wrap
			.container
				.row
					.col-lg-4.col-md-4.col-12
						i.fa.fa-edit
						br
						span Title for your advantage
						br
						p Additional information for your advantage and so on to be ready to this course or something

		script(src="js/scripts.min.js")